esp32-gateway-cache.lib
*.bak
*.kicad_pcb-bak

esp32-gateway-rescue.dcm
esp32-gateway-rescue.lib
fp-info-cache
gerber.zip
gerber_protel.zip
gerber/
gerber_protel
esp32-gateway-schema.pdf
_autosave*
esp32-gateway-bom.pdf

